body {
  font-family: 'Lucida Sans';
  background-color: bisque;
  margin: 20px;
}

header {
  text-align: center;
}

header img {
  width: 50%;
}
footer {
  background-color: grey;
  padding: 5px;
  margin: 10px auto;
}
footer p {
  text-align: center;
}
nav {
  background-color: grey;
  padding: 15px;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 15px 10px;
  padding: 5px;
  transition: 0.4s;
}
nav a:hover {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
p {
  text-align: justify;
}

table {
  border: 1px dashed lightblue;
  padding: 10px;
  margin: 0 auto;
}
